footer {
    background-color: #61a391;
}

#footer_item{
    display: flex;
    justify-content: space-between;
    padding: 0px 8% 24px 8%;
    align-items: center;
}

#copyright {
    color: #013952;
    font-weight: 600;
}

@media screen and (max-width: 600px) {
    #footer_item {
        flex-direction: column;
        
    }

}